template(name="reactiveList")
  if hasErrors
    .reactive-list-errors
      .header Reactive List Errors
      ul.errors !{errors}
  .reactive-list-items-container
    each cursor
      +reactiveListItem

  if listStyle
    ul.reactive-list(style="position: relative")

  if tableStyle
    tbody.reactive-list


template(name='reactiveListItem')
  .reactive-list-item-container
    if listStyle
      li.reactive-list-item(data-reactive-list-item-id="#{_id}" data-reactive-list-position="#{positionInCursor}" style="position: absolute")
        +Template.dynamic(template=template)

    if tableStyle
      tr.reactive-list-item(data-reactive-list-item-id="#{_id}" data-reactive-list-position="#{positionInCursor}" )
        +Template.dynamic(template=template)
